.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #fff;
  position: relative;
  padding: 15px 0;
}

.leftSection {
  display: flex;
  align-items: center;
}

.logo {
  flex: 0 0 auto;
  z-index: 3;
}

.centerMenu ul,
.rightMenu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.rightMenu ul {
  align-items: center;
}

.centerMenu ul li,
.rightMenu ul li {
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}

.popup {
  position: absolute;
  right: 0%;
  top: 100%;
  z-index: 10;
}

.mobileMenuToggle {
  display: none;
  cursor: pointer;
  z-index: 3;
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  margin-right: 16px;
}

/* responsiveness */
@media (max-width: 1024px) {
  .centerMenu ul {
    gap: 15px;
  }

  .rightMenu ul {
    gap: 15px;
  }
}

@media (max-width: 768px) {
  .navContainer {
    padding: 15px 0;
  }

  .mobileMenuToggle {
    display: block;
  }

  .centerMenu {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-background);
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 80px 30px 30px;
  }

  .centerMenu.active {
    transform: translateX(0);
  }

  .centerMenu ul {
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
  }

  .rightMenu ul {
    gap: 10px;
  }

  .languageIcon {
    display: none;
  }
}

@media (max-width: 768px) {
  .navContainer {
    padding: 15px 0;
  }

  .mobileMenuToggle {
    display: block;
  }

  .centerMenu {
    margin: 50px 0;
    position: fixed;
    height: 100dvh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--dark-background);
    z-index: 2;
    transform: translateX(-100%);
    transition: transform 0.3s ease;
    padding: 80px 30px 30px;
  }

  .centerMenu.active {
    transform: translateX(0);
  }

  .centerMenu ul {
    flex-direction: column;
    gap: 30px;
    font-size: 20px;
  }

  .rightMenu ul {
    gap: 10px;
  }

  .rightMenu span {
    display: none;
  }
}
