nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 80px;
  background-color: #000;
  color: #fff;
}

.center-menu ul,
.right-menu ul {
  display: flex;
  gap: 20px;
  text-decoration: none;
  list-style: none;
}

.profile {
  padding: 0 10px;
  background-color: #fff;
  border-radius: 20px;
}
