.searchbarContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 8px 8px 8px 32px;
  border: none;
  border-radius: 100px;
  background-color: #fff;
  gap: 10px;
  width: 850px;
  height: auto;
}

.hotels,
.checkIn,
.checkOut,
.guests {
  display: flex;
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
}

.title {
  font-weight: 600;
}

.dropdown {
  color: var(--grey-text);
  font-weight: 200;
}

.searchbarContainer select {
  color: var(--grey-text);
  font-weight: 200;
  font-size: 16px;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
}

.searchbarContainer select:focus {
  outline: none;
}

.search {
  cursor: pointer;
}

/* datepicker */
.datePicker {
  color: var(--grey-text);
  font-weight: 200;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.datePicker:focus {
  outline: none;
}

.guests {
  position: relative;
}

.guestPopup {
  position: absolute;
  right: -90px;
  top: 100%;
  z-index: 100;
}
