.nav {
  padding: var(--section-padding);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
}

.rightMenu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup {
  position: absolute;
  right: 0%;
  top: 8%;
}
