.nav {
  padding: var(--section-padding);
}

.navContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.rightMenu {
  display: flex;
  align-items: center;
  gap: 20px;
  color: #000;
}

.rightMenu ul {
  display: flex;
  gap: 20px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.popup {
  position: absolute;
  right: 0%;
  top: 8%;
  z-index: 10;
}

/* responsiveness */
@media (max-width: 768px) {
  .nav {
    padding: 15px 40px;
  }

  .rightMenu {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .nav {
    padding: 15px 20px;
  }

  .navContainer img {
    height: 28px;
  }

  .rightMenu p {
    display: none;

    font-size: 14px;
    max-width: 150px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .popup {
    right: -25%;
  }
}
