/* header */
.navbar {
  padding: var(--section-padding);
}

.navbar,
.search,
.hero {
  background-color: var(--dark-background);
}

.search {
  padding: 20px 0;
  display: flex;
  justify-content: center;
}

.search svg {
  font-size: 50px;
  padding: 12px;
  color: #fff;
  background-color: #de3151;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* hero */
.hero {
  padding-bottom: 60px;
}

.imageContainer {
  display: flex;
  justify-content: center;
  position: relative;
  width: 100%;
}

.heroImg {
  padding: 20px;
  border: none;
  border-radius: 35px;
  width: 90%;
  height: 600px;
  object-fit: cover;
}

.heroOverlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  text-align: center;
}

.heroOverlay h2 {
  font-size: 48px;
  margin: 20px 0;
}

.heroOverlay button {
  border: none;
  border-radius: 100px;
  color: #671296;
  background-color: #fff;
  padding: 20px;
  cursor: pointer;
}

/* main */
.tripInspirations,
.experiences {
  padding: var(--section-padding);
}

.inspirationHotelCards {
  padding: 30px 0;
  display: flex;
  gap: 20px;
}

.experiencesCards {
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  justify-content: space-between;
}

.experienceContainer {
  flex: 1 1 calc(50% - 20px);
  max-width: calc(50% - 20px);
}

/* gift cards */
.giftCardsContainer {
  display: flex;
  justify-content: space-between;
  padding: var(--section-padding);
}

.giftCardText h2 {
  font-size: 48px;
  font-weight: 500;
  padding-bottom: 30px;
}

.giftCardText button {
  border: none;
  border-radius: 8px;
  color: #fff;
  background-color: var(--dark-background);
  padding: 15px 24px;
  cursor: pointer;
}

.giftCards img {
  height: 320px;
}
